<div id="<%= dom_id cliente %>">
  <p>
    <strong>Tipo persona:</strong>
    <%= cliente.tipo_persona %>
  </p>

  <p>
    <strong>Número de Documento:</strong>
    <%= cliente.nro_doc_id %>
  </p>

  <p>
    <strong>Fecha de Emisión:</strong>
    <%= cliente.fecha_emision %>
  </p>

  <p>
    <strong>Fecha de Vencimiento:</strong>
    <%= cliente.fecha_vencimiento %>
  </p>

  <p>
    <strong>Nombres:</strong>
    <%= cliente.nombre %>
  </p>

  <p>
    <strong>Apellidos:</strong>
    <%= cliente.apellido %>
  </p>

  <p>
    <strong>Correo Electrónico:</strong>
    <%= cliente.correo %>
  </p>

  <p>
    <strong>Teléfono Principal:</strong>
    <%= cliente.telf_principal %>
  </p>

  <p>
    <strong>Teléfono Secundario:</strong>
    <%= cliente.telf_secundario %>
  </p>

</div>
