

  <%= form_with(model: cliente) do |form| %>
    <% if cliente.errors.any? %>

         <div style="color: red">
        <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>


        <ul>
          <% cliente.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


 <table class="table table-dark">

    <div class="container-fluid">
      <%= form.label :tipo_persona, style: "display: block" %>
      <%= form.text_field :tipo_persona, placeholder:"Agregue tipo persona", required:"true" %>
    </div>

    <div class="container-fluid">
      <%= form.label :numero_documento_identificación, style: "display: block" %>
      <%= form.text_field :nro_doc_id, placeholder:"Agregue Numero de Identificación", required:"true" %>
    </div>

    <div class="container-fluid">
      <%= form.label :fecha_emision, style: "display: block" %>
      <%= form.date_field :fecha_emision %>
    </div>

    <div class="container-fluid">
      <%= form.label :fecha_vencimiento, style: "display: block" %>
      <%= form.date_field :fecha_vencimiento %>
    </div>

    <div class="container-fluid">
      <%= form.label :nombre, style: "display: block" %>
      <%= form.text_field :nombre, placeholder:"Agregue Nombre", required:"true" %>
    </div>

    <div class="container-fluid">
      <%= form.label :apellido, style: "display: block" %>
      <%= form.text_field :apellido, placeholder:"Agregue Apellido", required:"true" %>
    </div>

    <div class="container-fluid">
      <%= form.label :correo, style: "display: block" %>
      <%= form.text_field :correo, placeholder:"Agregue Correo Electrónico", required:"true"%>
    </div>

   <div class="container-fluid">
      <%= form.label :teléfono_principal, style: "display: block" %>
      <%= form.text_field :telf_principal, placeholder:"Agregue Teléfono", required:"true", type:"number" %>
    </div>

    <div class="container-fluid">
      <%= form.label :teléfono_secundario, style: "display: block" %>
      <%= form.text_field :telf_secundario %>
    </div>

  </table>

    <div  class="btn btn-default">
      <%= form.submit%>
    </div>
  <% end %>


