<p style="color: green"><%= notice %></p>

<%= render @cliente %>

<div>
  <%= link_to "Editar Cliente", edit_cliente_path(@cliente), class:"btn btn-warning" %> 
  <%= link_to "Volver a Clientes", clientes_path, class:"btn btn-info" %>

  <%= button_to "Eliminar Cliente", @cliente, method: :delete, class:"btn btn-danger" %>
</div>




